<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IVA Configuration</title>
    <style>
        div {
        height: 200px;
        width: 40%;
        background-color:gray;
        display:inline-block;
        }
    </style>
</head>

<body>
    <h1>
        IVA Configuration
    </h1>
    <br>
    <div>
        <input type="checkbox" name="key1"> Service <br>
        <input type="checkbox" name="key2"> Service <br>
        <input type="checkbox" name="key3"> Service <br>
        <input type="checkbox" name="key4"> Service <br>
    </div>

    <div>
        <p>Assign</p>
        <input type="checkbox" name="key1"> Key Value <br>
        <input type="checkbox" name="key2"> Key Value <br>
        <input type="checkbox" name="key3"> Key Value <br>
        <input type="checkbox" name="key4"> Key Value <br>
    </div>

    <form>
        Service:<br>
        <input type="text" name="layanan"><br>
        <input type="submit" name="Tambah Baru">
      </form> 
</body>
</html>