<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Key and Value Configuration</title>
    <style>
        div {
        float: center;
        height: 30%;
        width: 500px;
        margin-bottom: 1em;
        background-color:gray;
        }
    </style>
</head>

<body>
    <div>
        <h3>Key and Value list</h3>
        <table text-align: center align ="center" width="480">
                <tr>
                  <th>Key</th>
                  <th>Value</th>
                  <th>Timestamp</th>
                </tr>
                <tr>
                  <td align = "center">{{key}}</td>
                  <td align = "center">{{value}}</td>
                  <td align = "center">{{timestamp}}</td>
                </tr>
                </table>
    </div>
    
    <form action = "http://localhost:2000/keyvalue" method = "POST">
        <span>
            Key:<input type="text" name="key">
            Value:<input type="text" name="value">
        </span>
        <span>
            <input type="submit" value="Submit">
        </span>
    </form>
    

</body>

</html>