<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Key and Value Configuration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        div {
        float: center;
        height: 30%;
        width: 500px;
        margin-bottom: 1em;
        background-color:gray;
        }
    </style>
</head>

<body>
    <div>
        <h3>Key and Value list</h3>
        <table text-align= "center" align ="center" width="480">
                <tr>
                  <th align = "center">Key</th>
                  <th align = "center">Value</th>
                  <th align = "center">Timestamp</th>
                </tr>
                <tr>
                  <td align = "center">{{key}}</td>
                  <td align = "center">{{value}}</td>
                  <td align = "center">{{timestamp}}</td>
                </tr>
                </table>
    </div>
    
    <form action = "http://localhost:2000/keyvalue" method = "POST">
        <span>
            Key:<input type="text" name="key">
            Value:<input type="text" name="value">
        </span>
        <span>
            <input type="submit" value="Submit">
        </span>
    </form>
    

</body>

</html>